@{
    ViewBag.Title = "About";
}

<section style="margin:0 2em;">
    <div class="col-lg-12 text-center">
        <div style="background:#ddd; padding:20px; margin-bottom:40px;">
            <h2 style="margin-top:0; margin-bottom:20px;">About Us</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home/">Home</a></li>
                <li class="breadcrumb-item active">About Us</li>
            </ol>
        </div>
    </div>
</section>

<section style="margin:3em 2em;">
    <div class="col-lg-4">
        <div class="whitebox bxh" style="background:#75bc15;">
            <h4>Our Vision</h4>
            <a class="fancybox-buttons" data-fancybox-group="button" href="~/Content/images/vision.jpg"><img src="~/Content/images/vision.jpg" alt="" class="img-responsive"></a><br>
            <p>Our vision is to ensure peace of mind to parents particularly working parents, who are always worried about the safety of their kids in school, while they are at work. This affects parents health and career both.</p>
        </div>
    </div>


    <div class="col-lg-4">
        <div class="whitebox bxh" style="background:#cf6021;">
            <h4>Our Mission</h4>
            <a class="fancybox-buttons" data-fancybox-group="button" href="~/Content/images/mission.jpg"><img src="~/Content/images/mission.jpg" alt="" class="img-responsive"></a><br>
            <p>Our mission is to provide technology-enabled, simple-to-operate real time system in the hands of parents of small children. As we continue to hear the news of small kids being harassed in school transport or within school premises, it strengthens our resolve to save our kids from such insecurities. With the support of parents, we are sure we can do it.</p>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="whitebox bxh" style="background:#6b3385;">
            <h4>Our Objective</h4>
            <a class="fancybox-buttons" data-fancybox-group="button" href="~/Content/images/objective.jpg"><img src="~/Content/images/objective.jpg" alt="" class="img-responsive"></a><br>
            <p>We intend to cover at least 100 playschools and 100 nursery schools  this year. We will guarantee for 3600safety of small kids in these schools. During next session we intend to cover schools in whole of north India.</p>
        </div>
    </div>

</section>


@*<div class="">
    <fieldset>
        <legend class="text text-capitalize text-center">
            <h2 class="text text-capitalize text-left">@ViewBag.Title</h2>
        </legend>

        <p class="text">
            Superkids City is a platform for 3600 safety of small kids in schools/playschools. The company has come up with an idea of providing security to children when they are away from their parents. Children are the future assets of the nation and it is our responsibility to see that they grow fearlessly without any maltreatment.
            Our initiative is technology enabled, where the system provides information about the kids to their parents on real time basis. Schools are also benefitted with this technology as it helps them win trust of parents about safety of child. This helps the school authorities as it alerts and alarms them when child reaches in danger zone so that they can take timely action and avoid any mishap.
        </p>
     
    </fieldset>
    <hr />
    <fieldset>
        <legend class="text text-capitalize text-center">
            <h2 class="text text-capitalize text-left">How we function</h2>
        </legend>

        <pc class="text">
            We are providing technology enabled system, where we will start tracking the child as soon as he/she boards the bus. They will be under surveillance in the bus and moment they de-board the bus and enter in the school; message will be transmitted to parents. The same will be followed in the return journey also. Also whenever, the child reaches near any designated danger point, this immediately sends the SMS to the parent as well as the Principal of the School.  Therefore, the parent can alert the School in time without losing any time.   We all know it is not possible for schools to keep an eye on all the children. This is a great tool in the hands of the parents as well. Schools can also respond immediately on receiving the SMS. This can save precious life of any child who is in danger.
        </pc>
    </fieldset>
    <hr />
    <fieldset>
        <legend class="text text-capitalize text-center">
            <h2 class="text text-capitalize text-left">How we are different from others</h2>
        </legend>

        <p class="text">
            The existing solutions do not provide complete cover of teaching of child the moment he or she steps inside the school transport or school campus till the child comes back home. Our solution is very simple to operate. Even the non-techno savvy parents can track their kin on mobiles.
            The parents or grandparents get messages in their own language. They can see live streaming of child's whereabouts on the phone screen by clicking a button. They will get messages whenever the child is in trouble or unknowingly treads outside safe zone. Any person known or unknown to the child can't harm the child because the child's status is always known to school and parents. He is always watched by his guardian on Superkids City website (www.superkidscity.com).
        </p>

    </fieldset>
</div>*@
