
@{
    ViewBag.Title = "Comming Soon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<fieldset>
    <legend class="text text-capitalize text-center">
        <h2 class="text text-capitalize text-left">@ViewBag.Title</h2>
    </legend>
<h1 class="text text-capitalize text-center text-info" style="font-size:xx-large;">
    This page is under conctsruction.
</h1>
</fieldset>*@


<section style="margin:0 2em;">
    <div class="col-lg-12 text-center">
        <div style="background:#ddd; padding:20px; margin-bottom:40px;">
            <h2 style="margin-top:0; margin-bottom:20px;">Testimonials</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home/">Home</a></li>
                <li class="breadcrumb-item active">Testimonials</li>
            </ol>
        </div>
    </div>
</section>

<section style="margin:3em 2em;">
    <div class="col-lg-12">
        <div class="whitebox bxh text-center" style="color:#000;">
            <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
            <p>Coming Soon...</p>
        </div>
    </div>

</section>



