
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section style="margin:0 2em;">
    <div class="col-lg-12 text-center">
        <div style="background:#ddd; padding:20px; margin-bottom:40px;">
            <h2 style="margin-top:0; margin-bottom:20px;">FAQ</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home/">Home</a></li>
                <li class="breadcrumb-item active">FAQ</li>
            </ol>
        </div>
    </div>
</section>

<section style="margin:3em 2em;">
    <div class="col-lg-12">
        <div class="whitebox" style="color:#fff; background:#e89e00;">
            <p>COMING SOON </p>
            <ul style="padding-left:20px;" class="lisps">
                <!--<li>SuperKidsCity brings the play schools and parents on a common platform.</li>-->
            </ul>
            <br>
            <!--<h3>For School</h3>
            <ul style="padding-left:20px;" class="lisps">
                <li>SuperKidsCity provides a platform where pre-schools showcase themselves about their latest infrastructure, their creative curriculum, list of extracurricular activity and many more so that parents have choice to select best for their kids in their vicinity. </li>
                <li>SuperKidsCity will help in the marketing and promotional activities to ensure that the schools are able to run in full capacity</li>
                <li>SuperKidsCity will ensure that regular trainings are imparted to the teachers in order to keep them abreast with the latest developments in the field of toddler education.</li>
                <li>SuperKidsCity will make learning interesting and interactive through audio visual and field visits.</li>
                <li>Organize talks for children in order to enable raise an alert in an event of any incident related to the sexual exploitation of young children.</li>-->
            </ul>
        </div>
    </div>

</section>
