
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section style="margin:0 2em;">
    <div class="col-lg-12">
        <div class="whitebox" style="background:#00cbcb; margin-bottom:30px;">
            <h3>What We Offer</h3>
            <a class="fancybox-buttons" data-fancybox-group="button" href="~/Content/images/what-we-offer.jpg"><img src="~/Content/images/what-we-offer.jpg" class="img-responsive pull-left" style="margin-right:30px;"></a>
            <p>In today's world technology has breached the boundaries of limitation and using technologies businesses are leveraging every opportunity to flourish like never it before. In fact Technology too has been driven to cater the need of business requirement and uplifted itself to cop up. </p>
            <p>Superkids City is a platform for 3600 safety of small kids in schools/playschools. The company has come up with an idea of providing security to children when they are away from their parents. Children are the future assets of the nation and it is our responsibility to see that they grow fearlessly without any maltreatment.</p>
            <p>Our initiative is technology enabled, where the system provides information about the kids to their parents on real time basis. Schools are also benefitted with this technology as it helps them win trust of parents about safety of child. This helps the school authorities as it alerts and alarms them when child reaches in danger zone so that they can take timely action and avoid any mishap.</p>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="whitebox" style="background:#dd3731; margin-bottom:30px;">
            <h3>How We Are Different</h3>
            <a class="fancybox-buttons" data-fancybox-group="button" href="~/Content/images/how-we-are.jpg"><img src="~/Content/images/how-we-are.jpg" class="img-responsive pull-right" style="margin-left:30px;"></a>
            <p>The existing solutions do not provide complete cover of security of child the moment he or she steps inside the school transport or school campus till the child comes back home. Our solution is very simple to operate. Even the non-techno savvy parents can track their kin on mobiles.</p>
            <p>The parents or grandparents get messages in their own language. They can see live streaming of child's whereabouts on the phone screen by clicking a button. They will get messages whenever the child is in trouble or unknowingly treads outside safe zone. Any person known or unknown to the child can't harm the child because the child's status is always known to school and parents. He is always watched by his guardian on Superkids City website (www.superkidscity.com).</p>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="whitebox" style="background:#eeac04;">
            <h3>How It Works</h3>
            <a class="fancybox-buttons" data-fancybox-group="button" href="~/Content/images/how.jpg"><img src="~/Content/images/how-it-works.jpg" class="img-responsive pull-left" style="margin-right:30px;"></a>
            <p>
                SMS alerts once child reaches school and leaves and  Live streaming video of the school through an app.<br><br>
                The information is shared only to the intended users after passing through stringent authorization norms. Please click on the photo to see the details.
            </p>
            <div class="clearfix"></div>
        </div>
    </div>

</section>
s

