@{
    ViewBag.Title = "Profile";
    //Layout = ViewBag.Layout;
}
<br />
<section style="margin:0 2em;">
    <div class="col-lg-12 text-center">
        <div style="background:#ddd; padding:20px; margin-bottom:40px;">
            <h2 style="margin-top:0; margin-bottom:20px;">Profile</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home/">Home</a></li>
                <li class="breadcrumb-item active">Profile</li>
            </ol>
        </div>
    </div>
</section>

<section style="margin:0 2em;">
    <div class="col-lg-12">
        <div class="whitebox" style="background:#dd3731; margin-bottom:30px;">
            <h3 style="margin-top:0;">Background</h3>
            <a class="fancybox-buttons" data-fancybox-group="button" href="~/Content/images/background.jpg"><img src="~/Content/images/background1.jpg" class="img-responsive pull-left" style="margin-right:30px;"></a>
            <p>In today's world technology has breached the boundaries of limitation. Businesses are leveraging every opportunity to flourish like never before. In fact technology too has been driven to cater the need of business requirement and uplifted itself to cope up, with the emerging needs.</p>
            <p>Those days have gone where school was considered a place where a child goes just to spend time. These days even play schools are playing vital role and have accepted as first step towards emergence of small children in the competitive world. Now it's a place where child is being taught to explore their inner strength through creative learning, learn to accept rules and follow them, and off course to have fun!!! But it is need to understand it is a place too where, since beginning, child starts learning to being a part of civilized society and learns to interact with other kids, and etiquette. Similarly, nursery and primary schools lay the foundation stone of a child's future. They prepare the child for taking up things which they are best at. However, some children face disturbance in their formative years. They need to be rescued.</p>
            <h3>What we offer</h3>
            <p>Super Kids City understands the requirement of schools, changes in our society over the period of time, aspiration of parents andneed of security to the children. Thus, </p>
            <p>•	SuperKidsCity brings the play schools and parents on a common platform.</p>
            <h3>For Schools</h3>
            <p>•	SuperKidsCity provides a platform where schools showcase themselves about their latest infrastructure, their creative curriculum, list of extracurricular activity and many more so that parents have choice to select best for their kids in their vicinity. </p>
            <p>•	SuperKidsCity will help in the marketing and promotional activities to ensure that the schools are able to run in full capacity</p>
            <p>•	SuperKidsCity will ensure that regular trainings are imparted to the teachers in order to keep them abreast with the latest developments in the field of toddler education.</p>
            <p>•	SuperKidsCity will make learning interesting and interactive through audio visual and field visits.</p>
            <p>•	Organize talks for children in order to enable raise an alert in an event of any incident related to the sexual exploitation of young children.</p>
            <h3>For Parents</h3>
            <p>•	SuperKidsCityunderstands the importance of security of kids from the parents point of view. We give full assurance of kids’ security by</p>
            <p>o	Live streaming video of the school through an app.</p>
            <p>o	SMS alerts once child reaches school and leaves. The information is shared only to the intended users after passing through stringent authorization norms.</p>
            <p>•	SuperKidsCity ensures that there are facilities like doctor on panel, nutritionist on panel in order to help in the emergencies and also holistic growth of the child</p>
            <p>•	SuperKidsCity will provide regular updates to the parents on the growth of their child based on the growth parameters developed in consultation with a child specialist.</p>
            <p>•	SuperKidsCity will ensure that there is a system through which parents can voice their concerns through formation of Parents Teacher Association (PTA), having a complaint book available etc as per the guidelines laid by the government under the child protection plan.</p>
            <p>•	The number of staff, their qualification, background, gender etc will be shared with the parents transparently.</p>
            <p>•	SuperKidsCity will ensure that the teacher child ratio is maintained and each child gets individual attention.</p>
            <div class="clearfix"></div>
        </div>
    </div>

</section>

<section style="margin:3em 2em;">
    <div class="col-lg-4"></div>

</section>
@*<fieldset>
    <legend class="text text-capitalize text-center">
        <h2 class="text text-capitalize">
            Profile
        </h2>
    </legend>
    <p class="text text-capitalize text-center">
        <section class="text text-left">
            <div class="row col-md-9">
                <div class="form-group">
                    <label class="text text-capitalize col-md-3">Name of the Company</label>  <label class="col-md-6 text text-capitalize text-info">Superkids City</label><br />
                </div>
                <div class="form-group">
                    <label class="text text-capitalize col-md-3">Registered Office</label>  <label class="col-md-6 text text-capitalize text-info">6/3A, Moti Nagar, New Delhi	110015</label> <br />
                </div>
                <div class="form-group">
                    <label class="text text-capitalize col-md-3">Website</label>  <label class="col-md-6 text text-capitalize text-info">supkerkidscity.com</label> <br />
                </div>
                @*<div class="form-group">
                    <label class="text text-capitalize col-md-3">Board of Directors</label>  <label class="col-md-6 text text-capitalize text-info">
                        Mr. S C Srivastava,
                        Ms  Anjali Mathur
                    </label><br />
                </div>*@
                @*<div class="form-group">
                    <label class="text text-capitalize col-md-3">Contact us @@: </label>  <label class="col-md-6 text text-capitalize text-info">info@superkidcity.com</label>
                </div>
              
            </div>
            <div class="col-md-8">
                <blockquote>
                    In case of any difficulty in reaching us or dealing with us please feel free to contact on mobile helpline: 9810204094 <br />
                    You can also reach us through WhatsApp on the following number: 9810204094
                </blockquote>
            </div>
        </section>
    </p>
</fieldset>*@
