@model SuperKidCity.Models.ContactViewModel

<div class="form-horizontal">
    <div class="form-group">
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label text text-capitalize" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control text text-capitalize", @type="email" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-group">
            @Html.LabelFor(m => m.Number, new { @class = "col-md-2 control-label text text-capitalize" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Number, new { @class = "form-control text text-capitalize", @type="tel" })
            </div>
        </div>
    </div>
    @*<button type="submit" class="btn btn-primary">Submit</button>*@
</div>

