<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://waws-prod-sn1-083.ftp.azurewebsites.windows.net</MSDeployServiceURL>
    <DeployIisAppPath>http://skc.azurewebsites.net/</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>ajeet1989yadav@gmail.com</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="SuperKidCity.Models.ApplicationDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=.;Initial Catalog=SuperKidCity13;Integrated Security=False;User ID=sa;Password=Passw0rd" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SuperKidCity.Models.ApplicationDbContext, SuperKidCity" MigrationConfiguration="SuperKidCity.Migrations.Configuration, SuperKidCity" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False" xmlns="">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=tcp:maestrodb.database.windows.net,1433;Initial Catalog=skcdb;Persist Security Info=False;User ID=maestro_dba;Password=Admin@123456;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:maestrodb.database.windows.net,1433;Initial Catalog=skcdb;Persist Security Info=False;User ID=maestro_dba;Password=Admin@123456;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SuperKidCity.Models.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Data Source=.;Initial Catalog=SuperKidCity13;Integrated Security=False;User ID=sa;Password=Passw0rd</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="SuperKidCity.Models.ApplicationDbContext" />
  </ItemGroup>
</Project>